{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="{% static "img/favicon.png" %}">
		<title>مشخصات دانشجو</title>
		<link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
		<link href="{% static "css/bootstrap-material-design.css" %}" rel="stylesheet">
		<link href="{% static "css/ripples.css" %}" rel="stylesheet">
		<link href="{% static "css/mine.css" %}" rel="stylesheet">
		<script>
			$.material.init()
		</script>
	</head>
	<body>
		<div class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-collapse collapse navbar-responsive-collapse">
					<ul class="nav navbar-nav">
						<li class="yekan-small active"><a href="{% url 'main' %}">صفحه اصلی</a></li>
						<li class="yekan-small"><a href="{% url 'student_index' %}">دانش آموزان</a></li>
						<li class="yekan-small"><a href="{% url 'teacher_index' %}">اساتید</a></li>
						<li class="yekan-small"><a href="{% url 'lesson_index' %}">دروس</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="yekan-small"><a href="{% url 'about' %}">درباره</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="jumbotron">
				<h1 style="text-align:center;" class="yekan-title">مشخصات دانشجو</h1>           
			</div>
			<h1 style="text-align:center; color: #009688;" class="yekan-title">{{ Student.first_name }} {{ Student.last_name }}</h1></br>
			<div class="row">
				<div class="col-md-6" style="text-align=center;">
					<ul class="list-group">
						<li class="list-group-item" style="text-align:center;"><h4 class="yekan-small"><strong>شماره دانشجویی</strong> : {{ Student.stno }}</h4></li>
						<li class="list-group-item" style="text-align:center;"><h4 class="yekan-small"><strong>کد ملی</strong> : {{ Student.national_id }}</h4></li>
						<li class="list-group-item" style="text-align:center;"><h4 class="yekan-small"><strong>شماره شناسنامه</strong> : {{ Student.id_code }}</h4></li>
						<li class="list-group-item" style="text-align:center;"><h4 class="yekan-small"><strong>تاریخ تولد</strong> : {{ Student.birthday }}</h4></li>
						{% if Student.probation %}
							<li class="list-group-item" style="text-align:center;"><h4 class="yekan-small"><strong>مشروطی</strong> : بله</h4></li>
						{% else %}
							<li class="list-group-item" style="text-align:center;"><h4 class="yekan-small"><strong>مشروطی</strong> : خیر</h4></li>
						{% endif %}		
					</ul>
				</div>
				<div class="col-md-6" style="text-align=center;">
					<ul class="list-group">
						<li class="list-group-item" style="text-align:center;"><h4 class="yekan-small"><strong>تلفن ثابت</strong> : {{ Student.phone }}</h4></li>
						<li class="list-group-item" style="text-align:center;"><h4 class="yekan-small"><strong>تلفن همراه</strong> : {{ Student.mobile }}</h4></li>
						<li class="list-group-item" style="text-align:center;"><h4 class="yekan-small"><strong>رشته</strong> : {{ Student.study_field }}</h4></li>
						<li class="list-group-item" style="text-align:center;"><h4 class="yekan-small"><strong>نام پدر</strong> : {{ Student.father_name }}</h4></li>
						<li class="list-group-item" style="text-align:center;"><h4 class="yekan-small"><strong>شغل پدر</strong> : {{ Student.father_job }}</h4></li>
						<li class="list-group-item" style="text-align:center;"><h4 class="yekan-small"><strong>تلفن پدر</strong> : {{ Student.father_phone }}</h4></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" style="text-align=center;">
					<ul class="list-group">
						<li class="list-group-item" style="text-align:center;"><h4 class="yekan-small"><strong>آدرس</strong> : {{ Student.address }}</h4></li>
					</ul>
				</div>
			</div>
			</br>
			<hr class="divider">
			</br></br>
			<form action="/students/{{ Student.id }}/update/" method="post" accept-charset="utf-8">
				{% csrf_token %}
				<div class="form-vertical">
					<fieldset>
						<div class="col-md-2" style="text-align:center;">
							<label for="update_first_name"  class="yekan-small" style="text-align:center; color:#009688;">نام</label><br/>
							<input type="text" style="text-align:center;" class="form-control yekan-thin input-lg" name="update_first_name" id="update_first_name" value="{{ Student.first_name }}"/>
						</div>
						<div class="col-md-2" style="text-align:center;">
							<label for="update_last_name"  class="yekan-small" style="text-align:center; color:#009688;">نام خانوادگی</label><br/>
							<input type="text" style="text-align:center;" class="form-control yekan-thin input-lg" name="update_last_name" id="update_last_name" value="{{ Student.last_name }}" />
						</div>
						<div class="col-md-2" style="text-align:center;">
							<label for="update_stno"  class="yekan-small" style="text-align:center; color:#009688;">شماره دانشجویی</label><br/>
							<input type="text" style="text-align:center;" class="form-control yekan-thin input-lg" name="update_stno" id="update_stno" value="{{ Student.stno }}" />
						</div>	
						<div class="col-md-2" style="text-align:center;">
							<label for="update_phone"  class="yekan-small" style="text-align:center; color:#009688;">تلفن ثابت</label><br/>
							<input type="text" style="text-align:center;" class="form-control yekan-thin input-lg" name="update_phone" id="update_phone" value="{{ Student.phone }}" />
						</div>	
						<div class="col-md-2" style="text-align:center;">
							<label for="update_mobile"  class="yekan-small" style="text-align:center; color:#009688;">تلفن همراه</label><br/>
							<input type="text" style="text-align:center;" class="form-control yekan-thin input-lg" name="update_mobile" id="update_mobile" value="{{ Student.mobile }}"/>
						</div>
						<div class="col-md-2" style="text-align:center;">
							<label for="update_probation"  class="yekan-small" style="text-align:center; color:#009688;">مشروطی</label><br/>
							{% if Student.probation %}
								<input type="checkbox" name="update_probation" id="update_probation" value="{{ Student.probation }}" checked/>
							{% else %}
								<input type="checkbox" name="update_probation" id="update_probation" value="{{ Student.probation }}" unchecked/>
							{% endif %}
						</div>
					</fieldset>					
				</div>
				</br>
				<div class="row">
					<div class="col-md-2" style="text-align:center;">
						<label for="update_id_code"  class="yekan-small" style="text-align:center; color:#009688;">شماره شناسنامه</label><br/>
						<input type="text" style="text-align:center;" class="form-control yekan-thin input-lg" name="update_id_code" id="update_id_code" value="{{ Student.id_code }}"/>
					</div>
					<div class="col-md-2" style="text-align:center;">
						<label for="update_national_id"  class="yekan-small" style="text-align:center; color:#009688;">کد ملی</label><br/>
						<input type="text" style="text-align:center;" class="form-control yekan-thin input-lg" name="update_national_id" id="update_national_id" value="{{ Student.national_id }}"/>
					</div>
					<div class="col-md-2" style="text-align:center;">
						<label for="update_birthday"  class="yekan-small" style="text-align:center; color:#009688;">تاریخ تولد</label><br/>
						<input type="text" style="text-align:center;" class="form-control yekan-thin input-lg" name="update_birthday" id="update_birthday" value="{{ Student.birthday }}"/>
					</div>
					<div class="col-md-2" style="text-align:center;">
						<label for="update_father_name"  class="yekan-small" style="text-align:center; color:#009688;">نام پدر</label><br/>
						<input type="text" style="text-align:center;" class="form-control yekan-thin input-lg" name="update_father_name" id="update_father_name" value="{{ Student.father_name }}"/>
					</div>
					<div class="col-md-2" style="text-align:center;">
						<label for="update_father_job"  class="yekan-small" style="text-align:center; color:#009688;">شغل پدر</label><br/>
						<input type="text" style="text-align:center;" class="form-control yekan-thin input-lg" name="update_father_job" id="update_father_job" value="{{ Student.father_job }}"/>
					</div>
					<div class="col-md-2" style="text-align:center;">
						<label for="update_father_phone"  class="yekan-small" style="text-align:center; color:#009688;">تلفن پدر</label><br/>
						<input type="text" style="text-align:center;" class="form-control yekan-thin input-lg" name="update_father_phone" id="update_father_phone" value="{{ Student.father_phone }}"/>
					</div>
				</div>
				</br>
				<div class="row">
					<div class="col-md-4" style="text-align:center;">
						<label for="update_study_field"  class="yekan-small" style="text-align:center; color:#009688;">رشته تحصیلی</label><br/>
						<input type="text" style="text-align:center;" class="form-control yekan-thin" name="update_study_field" id="update_study_field" value="{{ Student.study_field }}"/>
					</div>
					<div class="col-sm-8" style="text-align:center;">
						<label for="update_address"  class="yekan-small" style="text-align:center; color:#009688;">آدرس</label><br/>
						<input type="text" style="text-align:center;" class="form-control yekan-thin" name="update_address" id="update_address" value="{{ Student.address }}"/>
					</div>
				</div>
				</br></br>
				<div class="row">
					<div class="col-md-2" style="text-align:center;">
						<input type="submit" class="btn btn-raised btn-primary btn-lg yekan-small" value="به روزرسانی"/>
					</div>
					<div class="col-md-2" style="text-align:center;">
						<a href="delete/" class="btn btn-raised btn-danger btn-lg yekan-small"/>حذف</a>
					</div>
					<div class="col-md-2" style="text-align:center;">
						<a href="../../students" class="btn btn-raised btn-success btn-lg yekan-small">بازگشت</a>
					</div>
				</div>
			</form>
		</div><!-- /.container -->
		</br></br></br>
		<footer class="footer">
			<div class="container">
				<p class="calibri">Designed By : <a href="http://arash-hatami.ir" target="blank">Arash Hatami</a></p>
			</div>
		</footer>
		<!-- JavaScript
		================================================== -->
		<script src="{% static "js/bootstrap.js" %}"></script>
		<script src="{% static "js/jquery.min.js" %}"></script>
		<script src="{% static "js/material.min.js" %}"></script>
		<script src="{% static "js/ripples.min.js" %}"></script>
	</body>
</html>